@use "../settings/colors" as *;

.cont {
  height: 100%;
  box-sizing: border-box;

  position: relative;

  .cont__ornament {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: none; 

    @media (min-width: 1024px) {
      display: block;
    }
  }
  
  .cont__ornament-first {
    width: 100%;
    height: 1px;

    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
  }

  .cont__ornament-second {
    height: 100%;
    width: 1px;

    position: absolute;
    top: 0;
    left: 50%;
  }

  .circle {
    width: 27.6vw;
    height: 27.6vw;

    position: absolute;
    z-index: 3;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 100%;

    svg {
      width: 100%;
      height: 100%;
    }

    .circle__dot {
      width: 20px;
      height: 20px;
      position: absolute;
      transform: translate(-50%, -50%);

      border-radius: 100%;

      cursor: pointer;
      pointer-events: all;

      &:not(.active):before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background-color: $text-color;
        border-radius: 100%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        pointer-events: none;
      }

      span {
        opacity: 0;
      }

      &.active {
        width: 2.82vw;
        height: 2.82vw;
        
        background-color: $page-color;
        border: 1px solid $stroke-color;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          opacity: 1;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    width: 100%;
    padding: 59px 20px 13px 20px;
  }

  @media (min-width: 1024px) {
    width: 80%;
    margin: auto;
    padding: 100px 0 80px 0;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  @media (min-width: 1920px) {
    width: 75%;
    padding: 170px 0 104px 0;
  }
}
