@use "../settings/variables" as *;

.title {
  line-height: $line-height-small;
  position: relative;

  @media (max-width: 767px) {
    max-width: 123px;
  }

  @media (min-width: 768px) {
    max-width: 431px;
    padding-left: 78px;

    &::before {
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(#3877EE, #EF5DA8);
    }
  }
}
