@use "../settings/variables" as *;
@use "../settings/colors" as *;

.PeriodSlider {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 20px;
  border-top: 1 solid $border-color-2;

  @media (min-width: 1024px) {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 87.5vw;
    background-color: $border-color-2;

    position: absolute;
    top: 0;
    left: 0;
  }

  .PeriodSlider__swiper-slide {
    display: flex;
    flex-direction: column;
    gap:15px;

    max-width: 166px;

    .PeriodSlider__swiper-slide-year {
      color: $year-color;
    }

    .PeriodSlider__swiper-slide-content {
      color: $text-color;
    }
  }
}
