@use "../settings/variables" as *;
@use "../settings/colors" as *;

.PeriodView {
  .PeriodView__years {
    display: flex;
    justify-content: space-between;

     @media (max-width: 767px) {
        width: 273px;
        font-size: $font-size-xl;
      }

      @media (min-width: 768px) {
        width: 973px;
        font-size: $font-size-2xl;
      }
  }

  .PeriodView__years span:nth-last-of-type(1n) {
    color: $primary-color;
  }

  .PeriodView__years span:nth-last-of-type(2n) {
    color: $second-color;
  }
}
