@use "src/styles/settings/variables" as *;
@use "src/styles/settings/colors" as *;

.PeriodSlider {
  padding-top: 20px;

  
  @media (max-width: 1023px) {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 87.5vw;
      background-color: $border-color-2;

      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .PeriodSlider__navigation {
    width: 95%;

    position: absolute;
    left: 49%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }  
  }

  .PeriodSlider__navigation-prev,
  .PeriodSlider__navigation-next {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    position: absolute;
    top: 0;

    opacity: 0;
    pointer-events: none;

    cursor: pointer;

    filter: drop-shadow(0 0px 4px rgba(56, 119, 238, 0.1));
  }

  .PeriodSlider__navigation-prev.visible,
  .PeriodSlider__navigation-next.visible {
    opacity: 1;
    pointer-events: all;
  }

  .PeriodSlider__navigation-prev {
    left: 0;
    transform: scale(-1);
  }

  .PeriodSlider__navigation-next {
    right: 0;
  }

  .PeriodSlider__swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    @media (max-width: 500px) {
      max-width: 166px;
    }

    @media (min-width: 1024px) {
      gap: 8px;
      max-height: 133px !important;
      max-width: 400px !important;
    }  


    .PeriodSlider__swiper-slide-year {
      color: $year-color;

      @media (max-width: 1023px) {
        font-size: $font-size-sm;
      }

      @media (min-width: 1023px) and (max-width: 1919px) {
        font-size: $font-size-xs;
      }  

      @media (min-width: 1920px) {
        font-size: $font-size-lg;
      }  
    }

    .PeriodSlider__swiper-slide-content {
      color: $text-color;

      @media (max-width: 1023px) {
        font-size: $font-size-xs;
      }

      @media (min-width: 1023px) and (max-width: 1919px) {
        font-size: $font-size-2xs;
      }  

      @media (min-width: 1920px) {
        font-size: $font-size-base;
      }  
    }
  }
}
