@use '../settings/variables' as *;
@use '../settings/colors' as *;

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-color;

  @media (max-width: 1023px) {
    font-size: $font-size-xs;
  }

  @media (min-width: 1024px) {
    font-size: $font-size-base;
  }
}

h1 {
  font-weight: $font-weight-bold;

  @media (max-width: 1023px) {
    font-size: $font-size-base;
  }

  @media (min-width: 1024px) and (max-width: 1919px) {
    font-size: $font-size-lg;
  }

  @media (min-width: 1920px) {
    font-size: $font-size-xl;
  }
}
