@use '../settings/colors' as *;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: auto;
}

#root {
  background-color: $page-color;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}
